body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: bisque ;		
}

.heading {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	
	margin-bottom: 10px;
}

.sub-heading {
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

.record-btn {
	margin-top: 50px;
	padding: 12px 24px;
	border: 3px solid black;
	border-radius: 10px;
	cursor: pointer;
	font-size: large;
	color: black;
	font-weight: bolder;
	background-color: rgb(255, 163, 72);
	transition: background-color 0.3s ease, color 0.3s ease;
}

.record-btn:hover {
	background-color: orangered;
	color: white;
}

/*clicked animation*/
.record-btn:active {
	transform: scale(0.95);
}

.status {
	margin-top: 50px;
	text-align: center;
	font-size: x-large;
}

/* flickering effect */
.recording {
	animation: flicker 1.25s infinite;
}

@keyframes flicker {
	0%, 100% {
	       opacity: 1;
	   }

	   50% {
	       opacity: 0.3;
	   }
}

.transcription-container {
    margin-top: 30px;
    text-align: left;
	background-color: white;
	height: 300px;
	border: 3px solid black;
	border-radius: 5px;
}

.transcription-container h2 {
    margin-bottom: 10px;
	margin-left: 20px;
    font-size: 20px;
}

.transcription {
	padding: 15px;
	color: #444;
}
